* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #90e0ef;
    padding: 20px;
    height: 100px;
}



.btn-secondary {
    margin-bottom: 20px;
}

.search-div{
    background-color: #fff;
    padding: 10px;
    width: 100%;
    height: 50px;
    border: 1px solid #eee;
}

.favorable {
    background-color: #a7c957;
    color:white;
    padding: 5px;
    border-radius: 5px;
}

.moderate {
    background-color: #f77f00;
    color:white;
    padding: 5px;
    border-radius: 5px;

}

.severe {
    background-color: #d62828;
    color:white;
    padding: 5px;
    border-radius: 5px;
}

.card {
    background-color: #a8dadc;
    min-width: 150px;
    max-width:155px;
    padding: 10px;
    margin: 10px;
   

}

.next-day{
    
}