* {
    margin: 0;
    padding: 0;
}

.header {
    padding: 20px;
    height: 100px;
}

.col-4 {
    background-color: #eee;
    border: 2px solid darkgray;
    height: auto;
}


.search-div{
    background-color: white;
    padding: 10px;
    width: 100%;
    height: 50px;
    border: 1px solid #eee;
}

.favorable {
    background-color: green;
    color:white;
    padding: 5px;
    border-radius: 5px;
}

.moderate {
    background-color: orange;
    color:white;
    padding: 5px;
    border-radius: 5px;

}

.severe {
    background-color: red;
    color:white;
    padding: 5px;
    border-radius: 5px;
}